version: "3.9"

services: 
  nuam_app:
    build: .
    container_name: nuam_app
    ports:
      - "8080:8000"
    volumes:
      - .:/app
    depends_on:
      - kafka
      - monedas_service
    working_dir: /app
    command: python manage.py runserver 0.0.0.0:8000

  monedas_service:
    build: .
    container_name: monedas_service
    volumes:
      - .:/app
    depends_on:
      - kafka
    working_dir: /app/monedas_service
    command: uvicorn app:app --host 0.0.0.0 --port 8001
    ports:
      - "8001:8001"

  zookeeper:
    image: wurstmeister/zookeeper
    container_name: zookeeper
    ports:
      - "2181:2181"

  kafka:
    image: wurstmeister/kafka
    container_name: kafka
    ports:
      - "9092:9092"
    environment:
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT
      KAFKA_LISTENERS: PLAINTEXT://0.0.0.0:9092
      KAFKA_BROKER_ID: 1
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
    depends_on:
      - zookeeper
