body {
    font-family: Poppins, sans-serif;
    background: #f2f4f8;
    color: #222;
    text-align: center;
}

table {
    width: 90%;
    margin: 20px auto;
    border-collapse: collapse;
    background: white;
    border-radius: 10px;
    overflow: hidden;
}

th, td {
    border-bottom: 1px solid #ccc;
    padding: 10px;
}

th {
    background: #0b3768;
    color: white;
}

.boton {
    padding: 5px 10px;
    text-decoration: none;
    border-radius: 6px;
}

.editar {
    background: #8bbae5;
}

.eliminar {
    background: #d7337b;
    color: white;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 300px;
    margin: 20px auto;
    padding: 20px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

label {
    font-weight: bold;
    margin-top: 5px;
}

input, select, button {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 6px;
}

button {
    background: #0b3768;
    color: white;
    cursor: pointer;
    transition: background 0.3s;
}

button:hover {
    background: #0062a5;
}

.confirmacion {
    background: #fff3f3;
    border: 1px solid #d7337b;
    padding: 20px;
    border-radius: 10px;
    width: 60%;
    margin: 30px auto;
}
